@font-face 
{
    font-family: neovibes;
    src: url('../fonts/neovibes.otf');
}

@font-face 
{
    font-family: alpha;
    src: url('../fonts/alphacorsa.personal-use.ttf');
}

@font-face 
{
    font-family: UbuntuMono;
    src: url('../fonts/UbuntuMono-Regular.ttf');
}

@font-face 
{
    font-family: UbuntuMonoB;
    src: url('../fonts/UbuntuMono-Bold.ttf');
}

body 
{
    background-color: #F9F6EF;
    font-family: alpha;
    color: #282828;
    margin: 20px;
}

.titulod 
{
    text-align: center;
    font-family: UbuntuMonoB;
}

.tituloI 
{
    text-align: center;
    font-family: alpha;
}

form 
{
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
}

label 
{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: UbuntuMono;
}

input, textarea 
{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-family: UbuntuMono;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button 
{
    background-color: #008cff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-family: UbuntuMonoB;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover 
{
    background-color: #005bb5;
}

input.error, textarea.error 
{
    border: 2px solid red;
}

input:invalid 
{
    background-color: #EDA398;
}

.mensaje-error 
{
    color: red;
    font-size: 0.9em;
    margin-bottom: 15px;
    font-family: UbuntuMono;
}

.pata 
{
    font-family: neovibes;
    margin-top: 7%;
    text-align: center;
    height: 40px;
    font-size: 20px;
    width: auto;
}

.desc 
{
    text-align: center;
    font-size: 20px;
    font-family: UbuntuMono;
}

.caruselkiki 
{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.carta 
{
    margin: 0 auto;
    font-family: UbuntuMono;
    font-size: large;
    text-align: center;
}
