 @media only screen and (min-width: 600px){
    .mapa
{
    position: relative;
    box-sizing: border-box;
    right: 41%;
    margin-top: 10%;
   transform: scale(0.5);
   
}
#abrirVentana {

    display: none;
  }
  
  #cerrarVentana {
   
    display: none;
  }
  .targeta {
   display: none; 
  }
  }
  @media only screen and (min-width: 800px)
  {
    .mapa
{
    position: relative;
    box-sizing: border-box;
    right: 20%;
    margin-top: 10%;
   transform: scale(1.0);
   
}
#abrirVentana {

    display: none;
  }
  
  #cerrarVentana {
   
    display: none;
  }
  .targeta {
    display: none;
  }
  }
  @media only screen and (min-width: 1000px)
  {
    #abrirVentana {

        display: contents;
      }
      
      #cerrarVentana {
       
        display: contents;
      }
      .targeta {
        position: absolute;
        display: contents;
      }
  }
  
  