.desc
{
    text-align: center;
    font-size: 20px ;
    font-family: UbuntuMono;

}
.titulod
{
    text-align: center;
    font-family: UbuntUMonoB;
}
.tituloI
{
    text-align: center;
    font-family: alpha;
}
.container
{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.carta
{
    margin: 0 auto;
    width: auto;
    font-family: UbuntuMono;
    font-size: large;
    text-align: center;
    
}
