<body>
   
    <br>
      <div class="container">
        <h2 class="tituloI">Pagina sobre San Vicente</h2>
        <h3 class="titulod">Historia del Departamento San Vicente</h3>
        <p class="desc">El departamento de San Vicente, uno de los cuatro originalmente establecidos tras la independencia de El
            Salvador en 1824, ha experimentado notables transformaciones históricas; en sus inicios, su territorio era
            mucho más extenso y, a lo largo del siglo XIX, parte de él fue segregado para la creación de los departamentos
            de La Paz y Cuscatlán, reflejando la evolución administrativa del país. Con capital en la ciudad de San Vicente, la
            región fue escenario de levantamientos independentistas y conflictos políticos que forjaron el carácter de la
            joven república, mientras que sus raíces se entrelazan con la herencia indígena pipil y la actividad colonial
            basada en la agricultura y el comercio, convirtiéndola en un importante centro cultural y económico en la
            historia salvadoreña.</p>
            <br>
      
      <br>
      <div class="carta">
        <div>
          <h3 class="titulod">Cabecera departamental</h3>
          <p class="desc">San Vicente</p>
          <br>
          <h3 class="titulod">Extensión territorial</h3>
          <p class="desc">1,184 km²</p>
          <br>
          <h3 class="titulod">Fecha de fiestas patronales</h3>
          <p class="desc">
            <br>
            23 - 28 de Enero<br>
            San Sebastián, San Vicente<br>
            En honot a San Sebastián Mártir<br>
            <br>
            17 - 19 de Marzo<br>
            Verapaz, San Vicente<br>
            En honor a San José<br>
            <br>
            15 - 31 de Diciembre<br>
            San Vicente, San Vicente<br>
            En honor a San Vicente Abad<br>
          </p>
          <h3 class="titulod">Número de habitantes</h3>
          <p class="desc">Según los resultados del censo 2024, la población de San Vicente consta de 161,857 habitantes, abarcando un
            2,7% de la población salvadoreña<br>
            75,528 hombres<br>
            86,329 mujeres<br>
          </p>
          <br>
          <h3 class="titulod">Municipios de San Vicente</h3>
          <p class="desc">  
            1.Apastepeque<br>
            2.Guadalupe<br>
            3.San Cayetano Istepeque<br>
            4.San Esteban Catarina<br>
            5.San Ildefonso<br>
            6.San Lorenzo<br>
            7.San Sebastián<br>
            8.San Vicente<br>
            9.Santa Clara<br>
            10.Santo Domingo<br>
            11.Tecoluca<br>
            12.Tepetitán<br>
            13.Verapaz<br>
          </p>
        </div>
        <br>
        <h2 class="tituloI">Centros Turisticos</h2>

        <br>
        <div class="card border-light mb-3">
          <img src="assets/images/Centro Histórico de San Vicente.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Centro Histórico de San Vicente:</h5>
            <p class="card-text">El corazón de la ciudad se refleja en su centro histórico, donde destacan monumentos emblemáticos como la
                Iglesia Nuestra Señora del Pilar y la Torre de San Vicente. Estos espacios no solo muestran la arquitectura
                colonial, sino que también cuentan la historia y tradiciones de la región.</p>
          </div>
        </div>
        <br>
        <div class="card border-light mb-3">
          <img src="assets/images/Parque Acuático Amapulapa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Parque Acuático Amapulapa:</h5>
            <p class="card-text">Este centro turístico es ideal para familias, pues cuenta con varios estanques y piscinas naturales diseñadas
                tanto para adultos como para niños. Además, ofrece áreas de descanso y cabañas, lo que lo convierte en un
                espacio perfecto para disfrutar de actividades al aire libre.</p>
          </div>
        </div>
        <br>
        <div class="card border-light mb-3">
          <img src="assets/images/Parque Acuático Laguna de Apastepeque.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Parque Acuático Laguna de Apastepeque:</h5>
            <p class="card-text">Otro atractivo importante es este parque acuático que se integra a la belleza natural de la zona, ofreciendo un
                ambiente relajado y recreativo en torno a la laguna.</p>
          </div>
        </div>
        <br>
        <div class="card border-light mb-3">
          <img src="assets/images/Los Infiernillos y sus Fumarolas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Los Infiernillos y sus Fumarolas:</h5>
            <p class="card-text">Este sitio, con su actividad geotérmica, permite a los visitantes apreciar manifestaciones naturales como
                fumarolas y zonas de calor, lo que lo hace único para quienes buscan experiencias diferentes en contacto
                directo con la naturaleza.</p>
          </div>
        </div>
        <br>
        <div class="card border-light mb-3">
          <img src="assets/images/Volcán Chinchontepec.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Volcán Chinchontepec:</h5>
            <p class="card-text">También conocido como Volcán de San Vicente, este imponente volcán ofrece vistas panorámicas y es un
                destino ideal para quienes disfrutan del ecoturismo y la aventura en la naturaleza.</p>
          </div>
        </div>
        <div class="card border-light mb-3">
            <img src="assets/images/Tradiciones y Artesanía en San Sebastián.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tradiciones y Artesanía en San Sebastián:</h5>
              <p class="card-text">En este distrito se pueden apreciar técnicas ancestrales en la elaboración de textiles, como hamacas y
                manteles, y conocer de cerca la producción artesanal, lo que permite un acercamiento a las tradiciones
                culturales locales.</p>
            </div>
          </div>
          
        <br>
        <br>
        <h2 class="tituloI">Hidrografía</h2>
        <h3 class="titulod">Rios</h3>
        <br>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <img src="assets/images/Río Acahuapa.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Río Acahuapa:</h5>
                <p class="card-text">Considerado uno de los ríos emblemáticos del departamento, es parte de una cuenca importante y está ligado a
                    leyendas y tradiciones locales.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/Río Titihuapa.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Río Titihuapa::</h5>
                <p class="card-text">Mencionado en compilaciones sobre los ríos de San Vicente, forma parte de la red hidrológica de la zona.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/Río San Antonio.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Río San Antonio</h5>
                <p class="card-text">Otro de los ríos destacados que, junto con los demás, conforma las cuencas hidrográficas de la región.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/Río Jiboa.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Río Jiboa (segmento en San Vicente):</h5>
                <p class="card-text">Aunque su recorrido se extiende por varios departamentos, parte de su trayecto pasa por zonas de San Vicente.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/Río Lempa.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Río Lempa (segmento en San Vicente):</h5>
                <p class="card-text">Este gran río, de trascendencia regional, recorre también parte del territorio de San Vicente.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/Río Machacal.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Río Machacal:</h5>
                <p class="card-text">Según registros geográficos, este río también se encuentra en el departamento, contribuyendo al entramado
                    hidrológico local.</p>
              </div>
            </div>
          </div>
        </div>
        
        <h2 class="titulod">Lagos</h2>
        <div class="card">
            <img src="assets/images/Laguna de Apastepeque.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Laguna de Apastepeque:</h5>
              <p class="card-text">De origen volcánico, esta laguna es un atractivo turístico donde se pueden realizar paseos en lancha y disfrutar
                de la naturaleza circundante.</p>
            </div>
          </div>
          <div class="card">
            <img src="assets/images/Laguna Ciega.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Laguna Ciega:</h5>
              <p class="card-text">Localizada en la zona de Santa Clara, forma parte de la red de pequeñas lagunas en el departamento.</p>
            </div>
          </div>
          <div class="card">
            <img src="assets/images/Laguna de Buchiche.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Laguna de Buchiche</h5>
              <p class="card-text">Se encuentra en el área de Tecoluca y es otro ejemplo de estos depósitos de agua de menor dimensión.</p>
            </div>
          </div>
          <div class="card">
            <img src="assets/images/Laguna de Chalchuapán.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Laguna de Chalchuapán:</h5>
              <p class="card-text">Ubicada en Santa Clara, es parte del conjunto de lagunas identificadas en San Vicente.</p>
            </div>
          </div>
          <div class="card">
            
            <div class="card-body">
              <h5 class="card-title">Laguna del Talquezal</h5>
              <p class="card-text">También ubicada en Tecoluca, complementa la oferta de cuerpos de agua en el departamento.</p>
            </div>
          </div>
          
        <br>
        <h2 class="tituloI">Geografia</h2>
        <div class="row row-cols-1 row-cols-md-2 g-5">
          <div class="col">
            <div class="card">
              <img src="assets/images/Volcán de San Vicente.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Volcán de San Vicente (Chichontepec)</h5>
                <p class="card-text">Es el principal y más emblemático volcán de la región, reconocido por su singular doble cumbre, una con
                    2.173 m y otra con 2.083 m. Su imponente cono casi perfecto y sus manantiales termales y fumarolas en sus
                    faldas lo convierten en un atractivo natural y geológico fundamental de San Vicente.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/Volcán Apastepeque.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Volcán Apastepeque:</h5>
                <p class="card-text">Según algunos estudios geológicos, este centro volcánico presenta cráteres de colapso y de explosión y forma
                    parte del complejo volcánico del departamento, aunque no cuenta con erupciones históricas registradas.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/Cerro El Volcancito.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cerro El Volcancito:</h5>
                <p class="card-text">Este cerro se destaca por su perfil definido y su ubicación en zonas de transición entre áreas agrícolas y
                    montañosas. Es una ruta de senderismo apreciada por quienes buscan disfrutar de vistas panorámicas y de un
                    entorno natural menos modificado.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
                <img src="assets/images/Cerro El Escorpión.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cerro El Escorpión</h5>
                <p class="card-text">Con un perfil que sugiere un relieve eroso, este cerro se integra al paisaje montañoso y puede ofrecer puntos
                    de observación interesantes para quienes recorren la zona.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
                <img src="assets/images/Cerro La Carbonera.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cerro La Carbonera:</h5>
                <p class="card-text">Su denominación remite a una posible relación con depósitos de materiales volcánicos. Es parte del conjunto
                    de elevaciones que se vinculan al proceso volcánico de la región.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
                <img src="assets/images/Cerro El Cerrón.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cerro El Cerrón:</h5>
                <p class="card-text">Este cerro, de contornos suaves, forma parte de la cadena montañosa que contribuye a la formación de
                    microclimas locales y, en ocasiones, es aprovechado para actividades de ecoturismo.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
                <img src="assets/images/Cerro La Mesa.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cerro La Mesa:</h5>
                <p class="card-text">Con una cima relativamente plana, este cerro es un ejemplo de las formaciones de menor escala que se pueden
                    encontrar en el departamento, ofreciendo espacios para la observación de la vegetación y el paisaje.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
                <img src="assets/images/Cerro Alcantor.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cerro Alcantor:</h5>
                <p class="card-text">Aunque su prominencia es baja, representa una de las elevaciones que, junto a otras, ayuda a conformar el
                    relieve ondulado y variado de la región.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
                <img src="assets/images/Cerro El Cimarrón.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cerro El Cimarrón:</h5>
                <p class="card-text">Este cerro destaca por sus formas y es parte de las elevaciones que han sido esculpidas por procesos de erosión
                    y actividad volcánica antigua..</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
                
              <div class="card-body">
                <h5 class="card-title">Cerro Ramírez:</h5>
                <p class="card-text">Su menor altitud no le resta valor, ya que se integra en áreas de transición que pueden tener un papel
                    importante en la hidrología local y en la definición de microclimas.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Cerro El Pozo</h5>
                <p class="card-text">Con una prominencia considerable respecto a su altura, este cerro destaca en el paisaje y puede ser un sitio
                    interesante para estudios geológicos y recorridos al aire libre.</p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h2 class="tituloI">Personalidades reconocidas</h2>
        <br>
        <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/images/Miguel Tomás Murillo.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Miguel Tomás Murillo</h5>
                <p class="card-text">Nacido en San Esteban Catarina, es escritor, poeta y pintor. Autor de varios libros de poesía y cuentos, entre
                    ellos “Fuego en Azul”, “Cuentos de Tizcuital y Xacatital” y “El Melcochero”; también ha sido un impulsor de la
                    cultura local, fundando escuelas de música y promoviendo el patrimonio artístico vicentino.</p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/images/Cecilio Orellana.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Cecilio Orellana</h5>
                <p class="card-text">Maestro y contrabajista nacido en San Esteban Catarina, inició sus estudios musicales en su localidad natal. Fue
                    miembro de orquestas como la de los Supremos Poderes y la Orquesta Sinfónica, dejando una impronta
                    importante en la formación de generaciones de músicos vicentinos.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/images/Esteban Servellón.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Esteban Servellón</h5>
                <p class="card-text">Nacido en San Esteban Catarina en 1921, destacó como violinista y maestro de coro, participando en
                    importantes instituciones musicales y en la Banda y Orquesta Sinfónica. Su legado pedagógico ha influido en la
                    formación musical del país.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/images/Cayetano Molina.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Cayetano Molina</h5>
                <p class="card-text">Nacido en San Vicente en 1803, fue un político y jurista que ejerció cargos de ministro, gobernador y presidente
                    interino. Su gestión marcó importantes momentos en la historia política del país durante la época de la
                    República Federal de Centroamérica.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/images/José María Cornejo.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">José María Cornejo</h5>
                <p class="card-text">Gobernó El Salvador en dos ocasiones como Jefe Supremo. Nacido en San Vicente en 1788, destacó por su
                    formación en derecho y su participación en la política durante los primeros años de la independencia.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/images/Antonio José Cañas.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Antonio José Cañas</h5>
                <p class="card-text">Coronel, abogado y político, Cañas, originario de San Vicente, se destacó como ministro de Hacienda y Guerra y
                    como jefe de Estado en la época de la Federación Centroamericana, dejando un legado en la administración
                    pública.</p>
              </div>
            </div>
          </div>
        </div>
                <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/images/Arquímedes Cruz.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Arquímedes Cruz</h5>
                <p class="card-text">Músico, poeta y escritor que se destacó en el ámbito literario y musical. Fue integrante del Taller Literario
                  Xibalbá y es recordado como una figura emblemática en la poesía comprometida de la época del conflicto
                  armado.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/Esteban Servellón.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Esteban Servellón</h5>
                <p class="card-text">Originario de San Esteban Catarina, aunque su familia se trasladó a Zacatecoluca, fue un destacado compositor
                    y director de orquesta salvadoreño.</p>
              </div>
            </div>
          </div>
        </div>
          <div class="card mb-3" style="max-width: 840px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/images/Manuela Miranda.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Manuela Miranda</h5>
                  <p class="card-text">Considerada heroína de la independencia, lideró junto a su hermana un motín en 1811. A pesar de la represión,
                    su lucha la ha consagrado en la memoria colectiva como defensora de la libertad</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <br>
      <h3 class="tituloI">VIDEO SOBRE EL DEPARTAMENTO</h3>
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cpA9upjNOUg?si=nVRkzes36-PrA_lt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <br>
      </div>
</body>